<?xml version="1.0"?>
<launch>
  
  <arg name="tool_name" doc="name of current tool. Expects an xacro file in this repo with identical name"/>
  <arg name="prefix"    default="" doc="cobot URDF-prefix"/>
  <arg name="cobot_ns"  default="/" doc="cobot namespace"/>
  <arg name="flange_link"  default="$(arg prefix)connect_flange" doc="parent link for current tool"/>

  <param name="$(arg cobot_ns)tool" type="str"   value="$(arg tool_name)"/>

  
  <group if="$(eval arg('tool_name') == 'shaftgrinder')">
  <param name="$(arg cobot_ns)tool_description"
         command="$(find xacro)/xacro $(find hrr_common)/description/hrr_tool.urdf.xacro
                  tool_type:='1'
                  flange_link:='$(arg flange_link)'"/>
  </group>
  <group if="$(eval arg('tool_name') == 'screwdriver')">
  <param name="$(arg cobot_ns)tool_description"
         command="$(find xacro)/xacro $(find hrr_common)/description/hrr_tool.urdf.xacro
                  tool_type:='2'
                  flange_link:='$(arg flange_link)'"/>
  </group>

  <group if="$(eval arg('tool_name') == 'wsg_50')">
  <param name="$(arg cobot_ns)tool_description"
         command="$(find xacro)/xacro $(find hrr_common)/description/hrr_tool.urdf.xacro
                  tool_type:='30'
                  flange_link:='$(arg flange_link)'"/>
  </group>


</launch>

