<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="hrr-cobot">

  <!-- common -->
  <xacro:include filename="$(find hrr_common)/description/common.xacro"/>
  <!--load racer5-cobot -->
  <xacro:include filename="$(find comau_description)/urdf/racer5-cobot/racer5-cobot.urdf.xacro" />
  <xacro:include filename="$(find comau_description)/urdf/racer5-cobot/racer5-cobot.transmission.xacro" />
  
  <!-- add cobot -->
  <xacro:racer5-cobot_robot prefix="$(arg robot_prefix)"/>
  <xacro:racer5-cobot_transmission prefix="$(arg robot_prefix)" hw_interface="$(arg transmission_hw_interface)" />

</robot>

