<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="hrr-cobot">
  <!-- common stuff -->
  <xacro:arg name="robot_prefix" default=""/>
  <xacro:include filename="$(find hrr_common)/description/sim_common.xacro"/>
  <xacro:include filename="$(find comau_description)/urdf/common.gazebo.xacro" />

  <xacro:include filename="$(find comau_description)/urdf/racer5-0-80/racer5-0-80.urdf.xacro" />
  <xacro:include filename="$(find comau_description)/urdf/racer5-0-80/racer5-0-80.transmission.xacro" />
  <xacro:include filename="$(find comau_description)/urdf/racer5-0-80/racer5-0-80.gazebo.xacro" />
  <!-- add cobot -->
  <xacro:racer5-0-80_robot prefix="$(arg robot_prefix)"/>
  <xacro:racer5-0-80_transmission prefix="$(arg robot_prefix)" hw_interface="$(arg transmission_hw_interface)" />
  <xacro:racer5-0-80_gazebo prefix="$(arg robot_prefix)"/>
</robot>
